body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    min-width: 400px;
    background-color: #dfe6e9;
    text-align: center;
  }
  
  .heading {
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 30px;
  }
  
  .card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #6cff67;
    margin: 50px 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
  }
  
  .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #36c631;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }

  .image {
    border-radius: 50%;
    border: 7px solid rgb(167, 247, 167);
    width: 120px;
    height: 120px;
    margin-top: -300px;
    z-index: 100;
  }
  
  .name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
  }
  
  .bottom {
    margin-top: 1px;
  }

  .music {
    margin-top: 100px;
  }

  button { 
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2rem;
    font-family: 'Muli', serif;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #4CAF50;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

button:hover{
   box-shadow: 0 12px 16px 0 rgba(125, 184, 176, 0.24),0 17px 50px 0 rgba(10, 87, 97, 0.19);
}
  
  